@model Member
<form class="row g-3" asp-controller="Home" asp-action="create" method="post">
 
  
  <div class="mb-3" dir="rtl">
  <label for="Name" class="form-label">نام</label>
  <input type="text" asp-for=Name  class="form-control">
  <label for="LastName" class="form-label">نام خانوادگی</label>
  <input type="text" asp-for=LastName class="form-control">
   <label for="NationalCode" class="form-label">کدملی</label>
  <input type="text" asp-for=NationalCode  class="form-control">
   <label for="PhoneNumber" class="form-label">شماره تماس</label>
  <input type="text" asp-for=PhoneNumber  class="form-control">
   <label for="Level" class="form-label">نوع حساب</label>
 <select class="form-select" asp-for=levelindex>
  <option  selected>سطح حساب را انتخاب کنید</option>
  <option value="1">طلایی</option>
  <option value="2">نقره ای</option>
  <option value="3">برنزی</option>
</select>
    <label for="gender" class="form-label">جنسیت</label>
 <select class="form-select" asp-for=Genderindex>
  <option selected>جنسیت</option>
  <option  value="1">موءنث</option>
  <option value="2">مذکر</option>
  
</select>
  <br/>
<div dir="rtl">
    <input type="submit" class="btn btn-success" value="تایید" >
      <a class="btn btn-outline-danger"asp-controller="Home" asp-action="Index" >بازگشت به لیست </a>
  </div>
  </div>
</form>